// Neutral
$Dark-Text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);

// Background
$Radial-Gradient-Start: hsl(214, 47%, 23%);
$Radial-Gradient-End: hsl(237, 49%, 15%);

html {
    color: white;
}

html, body, div, h1, h2, h3, h4, h5, h6, li, ul, ol, button, p, input, header {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

button {
    cursor: pointer;
}

body {
    background: radial-gradient($Radial-Gradient-Start, $Radial-Gradient-End);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#header {
    border: 3px solid $Header-Outline;
    margin: 2rem;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 4rem);

    h1 {
        color: white;
        font-size: 1.2rem;
        line-height: 1rem;
        padding: 1.5rem;
    }

    #score-card {
        border-radius: .3em; 
        background-color: white;
        margin: .8rem;
        width: 5rem;
        height: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 12px;
            color: $Score-Text;
            font-weight: 700;
            letter-spacing: 1px;
        }
        #score-count {
            font-size: 2.5rem;
            line-height: 2.4rem;
            font-weight: 700;
            color: $Dark-Text;
        }
    }
}

.game-play {
    min-height: 300px;
    margin-bottom: 5rem;
    
    #player-select {
        display: flex;
        flex-flow: row wrap;
        width: 360px;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        position: relative;

        .player-image:active {
            animation-name: press;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-direction: forwards;
            animation-fill-mode: forwards;
        }
    }

    .triangle {
        position: absolute;
        transform: scale3d(.63,.63,.63);
        top: 1rem;
    }

    #battle {
        display: flex;
        max-width: 320px;
        justify-content: space-between;
        margin: 0 auto;
        display: none;

        #you-picked, #house-picked {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #house-placeholder {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background-color: $Radial-Gradient-End;
            margin: 1rem 1.5rem;
        }

        p {
           letter-spacing: 1px;
        }
    }

    .player {
        width: 10rem;
        height: 10rem;
        position: relative;

        .background {
            background-color: white;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            z-index: 100;
            position: absolute;
            top: 5px;
            margin: .5rem 1.2rem;

            &.paper {
                background-color: hsl(230, 89%, 55%);
            }
            &.scissors {
                background-color: hsl(39, 89%, 40%);
            }
            &.rock {
                background-color: hsl(349, 71%, 40%);
            }
        }

        .player-image {
            background-color: white;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin: .5rem 1.2rem;
            display: flex;
            align-content: center;
            justify-content: center;
            z-index: 1000;
            position: absolute;
            top: 0;

            &.paper {
                border: 1rem solid hsl(230, 89%, 65%);
            }
            &.scissors {
                border: 1rem solid hsl(40, 84%, 53%);
            }
            &.rock {
                border: 1rem solid hsl(349, 70%, 56%);
            }
    
            img {
                align-self: center;
                max-width: 2.7rem;
            }
        }
    }

    #results {
        margin: 3rem auto 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        display: none;

        p {
            font-size: 3.2rem;
        }

        button {
            color: $Dark-Text;
            background-color: white;
            border-radius: .5em;
            width: 13rem;
            margin: 1rem 0 0 0;
            padding: .9rem 0;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}

.rules-link {
    margin: 3rem auto 0 auto;
    position: absolute;
    bottom: 4rem;

    button {
        color: white;
        padding: .5rem 2.05rem;
        border: 3px solid hsl(223, 3%, 60%);
        border-radius: .5em;
        font-size: 1rem;
        letter-spacing: 3px;
    }
}


#rules-popup {
    width: 100%;
    height: 100%;
    background-color: white;
    color: $Dark-Text;
    padding: 5rem 2rem;
    transform: scale3d(0,0,0);
    z-index: 20000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-height: 500px;
    }
    
    &.open {
        animation-duration: 1s;
        animation-name: open;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &.close {
        animation-duration: 1s;
        animation-name: close;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    p {
        font-size: 2rem;
        font-weight: 700;
    }

    .exit i {
        color: hsl(220, 11%, 89%);
        font-size: 1.8rem;
    }

    #exit-desktop {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    #header {
        border-radius: 1em;

        h1 {
            padding: 1.3rem;
            font-size: 2.5rem;
            line-height: 2rem;
        }

        #score-card {
            margin: 1rem;
            width: 9rem;
            height: 7rem;
            border-radius: .5em;

            p {
                font-size: 1rem;
                letter-spacing: 3px;
            }

            #score-count {
                font-size: 4rem;
                line-height: 3.9rem;
            }
        }
    }

    .game-play {
        .triangle {
            top: 2.5rem;
        }

        #battle {
            max-width: 750px;

            #house-placeholder {
                width: 10rem;
                height: 10rem;
                margin: .5rem 3rem;
            }
        }

        #player-select {
            width: 550px;
        }

        .player {
            width: 16rem;
            height: 12rem;

            .player-image {
                margin: .5rem 3rem;
                width: 10rem;
                height: 10rem;

                img {
                    width: 3.5rem;
                    max-width: 3.5rem;
                }
            }

            .background {
                margin: .5rem 3rem;
                width: 10rem;
                height: 10rem;
            }
        }

        svg path {
            stroke-width: 35;
        }
    }

    #rules-popup {
        background-color: unset;

        .header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 2rem;
        }

        .container {
            background-color: white;
            padding: 2rem;
            border-radius: 5px;
            height: unset;
            max-height: unset;
        }

        img {
            padding: 0 2rem;
        }

        #exit-desktop {
            display: block;
        }
        #exit-mobile {
            display: none;
        }
    }
}

//// ANIMATIONS
@keyframes press {
    0% {transform: translate(0, 7px);}
    50% {transform: translate(0,0);}
    100% {transform: translate(0, 7px);}
}

@keyframes open {
    from {transform: scale3d(0,0,0);}
    to {transform: scale3d(1,1,1);}
}

@keyframes close {
    from {transform: scale3d(1,1,1);}
    to {transform: scale3d(0,0,0);}
}